* {
    margin: 0px
}

body {
    height: 100vh;
    background-color: #d2d6d6;
}

#home {
    background-color: aqua;
    height: 200px;
}

#bok {
    background-color: teal;
    height: 200px;
}

.hidden{
    display: none;
}

.active{

}